
body {
    background-color: bisque;
    padding: 0;
    margin: 0;
}
/* #diceContainer {
    height: 75vh;
    width: 75vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    position: relative;
    background-color: whitesmoke;
    align-items: center;
    justify-items: center;
}*/


/* #diceFace { */
    /* width: 50%;
    height: 50%; */
    /* display: flex;
    margin-left: auto;
    margin-right: auto; */
}
/* #playerContainer { */
    /* display: flex;
    width: 75vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(66, 64, 64); */
    /* width: 20vh;
    padding: 2vh; */
}
/* #scoreBox { */
    /* display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    width: 20vh;
    padding: 2vh; 
}*/
/* #player1 { */
    /* display: flex; */
    /* margin-left: auto;
    margin-right: auto; */
    /* justify-content: center;
    background-color: green;
    width: 20vh;
    padding: 2vh;
} */
/* #player2 {
    display: flex; */
    /* margin-left: auto;
    margin-right: auto; */
    /* justify-content: center;
    background-color: green;
    width: 20vh;
    padding: 2vh;
} */ 