
body {
    background-color: bisque;
    padding: 0;
    margin: 0;
}
#diceContainer {
    height: 75vh;
    width: 75vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    /* position: relative; */
    background-color: red;
    align-items: center;
    /* justify-items: center; */
}

#diceFace {
    /* width: 50%;
    height: 50%; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#scoreBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    width: 20vh;
    padding: 2vh;

}
